// ========================
// Color Palete
// ========================

$white: #ffffff;
$whiteLight: #F2EFE5;
$black: #000000;

$grey: #B4B4B8;
$lightGrey1: #C7C8CC;
$lightGrey2: #E3E1D9;

$darkBrown: #776B5D;
$brown: #B0A695;
$lightBrown: #EBE3D5;

