@import "src/Config/Styles/BaseColor.scss";

.card-statistic {
  border-radius: 1rem;

  h3 {
    color: $grey;
    font-size: 1rem;
    margin: 0;
    margin-top: 0.5rem;
    font-weight: 500;
  }

  .ant-card-body {
    padding: 0.25rem 1rem;
  }

  .card-statistic-item {
    padding: 0;
    display: flex;
    flex-direction: row;
    text-align: center;

    .ant-statistic {
      margin: auto 0 1rem 0.75rem;
    }

    p {
      padding: 0;
      margin: 0;
      font-size: 2.75rem;
    }
  }
}
